<div class="p-3">
    <h5 appHeading>Overview</h5>
    <p>Here are the List of Environment Variables that got added/updated/removed.</p>
    <p>Note: All time values are changed to seconds.</p>
    <div class="mb-3">
        <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchTerm">
    </div>
    <table class="table table-bordered font-13">
        <thead class="table-secondary">
            <tr>
                <th>ODP</th>
                <th>Data Stack</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of envList | commonFilter:searchTerm:'odp':'datastack'" class="fw-500" [ngClass]="{
                'table-success':item.type=='NEW',
                'table-light':item.type=='NO_CHANGE',
                'table-warning':item.type=='MODIFIED',
                'table-danger':item.type=='DELETED'
            }">
                <td>{{item.odp}}</td>
                <td>{{item.datastack}}</td>
                <td>{{item.remarks}}</td>
            </tr>
        </tbody>
    </table>
</div>