<nav class="navbar bg-primary">
  <div class="container-fluid d-flex align-items-center">
    <div class="logo-wrapper">
      <img class="logo" src="assets/img/DataNimbus_Logo_Blue.svg" alt="Logo">
    </div>
    <h5 class="navbar-brand text-white m-0">ODP 3.9 to Data.Stack 2.6.x Migration</h5>
  </div>
</nav>
<div class="d-flex align-items-start py-3">
  <div class="sidenav mx-3">
    <div class="list-group">
      <div class="list-group-item list-group-item-action" routerLink="home" routerLinkActive="active">
        Home
      </div>
      <div class="list-group-item list-group-item-action" routerLink="architecture" routerLinkActive="active">
        Architecture
      </div>
      <div class="list-group-item list-group-item-action" routerLink="config-env" routerLinkActive="active">
        Config Env
      </div>
      <div class="list-group-item list-group-item-action" routerLink="yamls" routerLinkActive="active">
        YAMLs
      </div>
      <div class="list-group-item list-group-item-action" routerLink="apis" routerLinkActive="active">
        API Endpoints
      </div>
      <div class="list-group-item list-group-item-action" routerLink="authentication" routerLinkActive="active">
        Authentication
      </div>
      <div class="list-group-item list-group-item-action" routerLink="security" routerLinkActive="active">
        Security
      </div>
      <div class="list-group-item list-group-item-action" routerLink="integration" routerLinkActive="active">
        Integration
      </div>
    </div>
  </div>
  <div class="content border rounded w-100 me-3">
    <router-outlet></router-outlet>
  </div>
</div>