.logo-wrapper {
    .logo {
        height: 50px;
    }
}

.content {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.sidenav {
    min-width: 260px;
    max-width: 260px;
    overflow: auto;
}