<div class="p-3">
    <h5 appHeading>Overview</h5>
    <ul>
        <li>Data Service has gone through many changes.</li>
        <li>Defitniion Structure is changed.</li>
        <li>Data Service has new features like State Model, Dynamic Filter and Multi-Level Workflows.</li>
    </ul>
    <img src="assets/img/work_in_progress.gif" alt="">
    <!-- <div class="mb-4">
        <h5 appSubHeading>ODP Data Service</h5>
        <div class="ps-3">
            <h6>Configuration</h6>
            <ul>
                <li>Needed SSH Key & Certificate mounted as <i ngbTooltip="Kubernetes">K8S secret</i> named
                    <strong>odp-sec</strong></li>
            </ul>
        </div>
        <img class="w-100 my-3" src="assets/img/old_security.drawio.svg" alt="">
    </div>
    <div class="mb-4">
        <h5 appSubHeading>Data Stack Security</h5>
        <div class="ps-3">
            <h6>Configuration</h6>
            <ul>
                <li>Needs <strong>ENCRYPTION_KEY</strong> as Environment Variable in <i ngbTooltip="Kubernetes">K8S
                        secret</i> or <i ngbTooltip="Kubernetes">K8S ConfigMap</i></li>
            </ul>
        </div>
        <img class="w-100 my-3" src="assets/img/new_security.drawio.svg" alt="">
    </div> -->
</div>