<div class="p-3">
    <h5 appHeading>Overview</h5>
    <p>
        This Document briefly describes difference that exists between ODP and Data Stack. It also contains Migration
        Guidelines and Steps. Some features are depricated and are removed while some when though changes both major and
        minor.
    </p>
    <p>
        We wanted to make migration from ODP to data stack as smooth as possible. If you feel few things are missing in
        the doument or is incorrect, please feel free to fork the repo and update this document.
    </p>
    <div>
        <a href="https://github.com/appveen/ds-migration-ui">https://github.com/appveen/ds-migration-ui</a>
    </div>
    <img src="assets/img/work_in_progress.gif" alt="">
</div>